.header {
  background-color: #ffffff;
  width: 100vw;
  height: 112px;
  //   padding: 0 16px;
  .brandBar {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e6e9ed 1px solid;
    .left {
      height: 60px;
      margin-left: 32px;
      display: flex;
      align-items: center;
      .brandName {
        font-size: 24px;
        color: #1f1f1f;
        line-height: 60px;
        font-weight: 800;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
    }
    .right {
      height: 60px;
      margin-right: 32px;
      gap: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.articleListCtn {
  width: 48vw;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}
.articleItemCtn {
  height: 144px;
  padding: 16px;
  .articleItemHeader {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    color: #8a919f;
    font-size: 14px;
  }
  .articleItemFooter {
    border-bottom: #e5e6eb 1px solid;
  }
}
